@import url('https://fonts.googleapis.com/css?family=Bungee|Major+Mono+Display');
  html{
      background-image: url("img/vuurwerk.jpg");
      background-color: #f79f11;
      overflow-x: hidden;
      }
      section:nth-child(2){
        height: 800px;
        width: 220px;
        margin-left: 60px;
        margin-top: 50px;
        background-color: #50586b;
        float: left;
        border-right: 5px solid #f79f11;
        border-radius: 5px;
      }
   h2 {
      color: white;
      background-color: #50586b;
      border-bottom: 5px solid #f79f11;
      border-radius: 5px;
      font-family: "Bungee";
      }
  h3 {
      font-family: "Bungee";
      color: white;
     }
  ul {
      list-style-type: none;
      margin-top: 30;
      padding: 0;
      overflow: hidden;
      background-color: #50586b;
      position: relative;
      top: 40px;
      padding-left: 20px;
      border-radius: 5px;
      font-family: "Bungee"
      }
  li {
      float: left;
      }
  li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      }
  li a:hover {
      background-color: #ddd;
      color: #C0392B;
      min-width: 180px;
      }
    .display{
      color: white;
      padding-left: 563px;
      width: calc(70% - 700px);
      margin: 10px;
      }
    .addto{
      background-color: #ddd;
      color:#C0392B;
      font-family: "Bungee";
      border-radius:10px;
      }
    .aantal{
      color: red;
      background-color: #ddd;
      border: 3px solid #f79f11;
      border-radius: 2px;.
      padding-left: 5px;
    }
  form{
       margin-bottom: 10px;
       background: #50586b;
       padding-top: 10px;
       padding-bottom: 10px;
       border-radius: 7px;
       font-family: "Major Mono Display";
       font-weight: 0.5em;
       }
  footer{
       color: white;
       position: fixed;
       }
